* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  background: #ffbf00;
}
.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 520px;
  min-height: 600px;
  background: #f8f9fa;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

h1 {
  margin: 32px 0;
  color: #000;
  font-size: 24px;
}

.complete {
  opacity: 0.4;
}

.todo-form {
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #ffbf00;
  outline: none;
  width: 320px;
  background: transparent;
  color: #000;
}

.todo-input-update {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #008000;
  outline: none;
  width: 320px;
  background: transparent;
  color: #000;
}

.todo-input::placeholder {
  color: #6c757d;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: #ffbf00;
  color: #000;
  text-transform: capitalize;
}

.todo-button-update {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: #008000;
  color: #fff;
  text-transform: capitalize;
}

.todo-input.edit {
  border: 2px solid #149fff;
}

.todo-button.edit {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
  padding: 16px 22px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: #008000;
  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.todo-row-wip {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #000;
  background: #ffbf00;
  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.edit-icon {
  color: #fff;
}

.check-icon {
  color: #fff;
}

.todo-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px auto;
  color: #000;
  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

/**
 * ==============================================
 * Dot Pulse
 * ==============================================
 */
 .dot-pulse {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #008000;
  color: #008000;
  box-shadow: 9999px 0 0 -5px #008000;
  animation: dotPulse 1.5s infinite linear;
  animation-delay: .25s;
}

.dot-pulse::before, .dot-pulse::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #008000;
  color: #008000;
}

.dot-pulse::before {
  box-shadow: 9984px 0 0 -5px #008000;
  animation: dotPulseBefore 1.5s infinite linear;
  animation-delay: 0s;
}

.dot-pulse::after {
  box-shadow: 10014px 0 0 -5px #008000;
  animation: dotPulseAfter 1.5s infinite linear;
  animation-delay: .5s;
}

@keyframes dotPulseBefore {
  0% {
    box-shadow: 9984px 0 0 -5px #008000;
  }
  30% {
    box-shadow: 9984px 0 0 2px #008000;
  }
  60%,
  100% {
    box-shadow: 9984px 0 0 -5px #008000;
  }
}

@keyframes dotPulse {
  0% {
    box-shadow: 9999px 0 0 -5px #008000;
  }
  30% {
    box-shadow: 9999px 0 0 2px #008000;
  }
  60%,
  100% {
    box-shadow: 9999px 0 0 -5px #008000;
  }
}

@keyframes dotPulseAfter {
  0% {
    box-shadow: 10014px 0 0 -5px #008000;
  }
  30% {
    box-shadow: 10014px 0 0 2px #008000;
  }
  60%,
  100% {
    box-shadow: 10014px 0 0 -5px #008000;
  }
}
